
# Исключаем временные файлы и папки
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем среду разработки
venv/
env/
.env
.venv/

# Исключаем логи и системные файлы
*.log
.DS_Store

# Исключаем IDE-файлы
.vscode/
.idea/

# Исключаем пакеты зависимостей (если они не нужны)
/dist/
/build/
/*.egg-info/